.btn-teacher{

	background: #2A3F54;
	font-weight: bolder;
}
.table_td {
	vertical-align: middle !important;
}
.form-control-feedback.left {
    left: 0px;
}
table.personal_details{
	margin-top: 15px;
	width: 100%
}
table.personal_details td{
	width: 30%;
	text-align: left;
	padding: 8px 15px;
}
 .xdisplay_inputx.form-group.has-feedback{
 	margin-bottom: 0px;		
 }

.calender-icon {
	margin-left: 10px !important;
}
.calender-width {
	width: 235px !important;
}
