.btn-teacher{

	background: #2A3F54;
	font-weight: bolder;
}
.table_td {
	vertical-align: middle !important;
}
.form-control-feedback.left {
    left: 0px;
}

.calender-icon {
	margin-left: 10px !important;
}
.calender-width {
	width: 255px !important;
}
